$test-color:red;
$common-container:1200px;//设计中心
$side-bg-color:#192a5e;//主色
$side-default-color:rgb(196, 201, 210)	;//辅助灰色，底色
$side-active-bg-color:#122150;//主色
$side-active-color:white;//主色
.clear{
	position: relative;
	zoom: 1;
}
.clear::after{
	// position: absolute;
	visibility: visible;
	content: "";
	display: block;
	clear: both;
	height: 0;
}



@mixin _one-line(){
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
@mixin _over-line($num:2){
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: $num;
   overflow: hidden;
}

