$test-color:red;
$side-bg-color:#192a5e;//导航默认背景色
$side-default-color:rgb(196, 201, 210)	;//导航默认文字颜色
$side-active-bg-color:#122150;//导航选中背景色
$side-active-color:white;//导航选中文字颜色

$word-color:#3963bc;//标题颜色
$body-bg:#f9fafb;//body背景色

$title-fz:16px;


.clear{
	position: relative;
	zoom: 1;
}
.clear::after{
	// position: absolute;
	visibility: visible;
	content: "";
	display: block;
	clear: both;
	height: 0;
}



@mixin _one-line(){
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
@mixin _over-line($num:2){
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: $num;
   overflow: hidden;
}


